html{
    height:100%;
}

body, p, button {
    font-family: 'Roboto', sans-serif;
    margin:0px;
}

body{
    background: #4FA2B2;
    padding:80px;
    height:calc(100% - 160px);
}

div#game {
    width:820px;
    max-height:820px;
}

div.O:before,
div.X:before {
    color: white;
    width: 220px;
    height: 220px;
    position: absolute;
    top: 110px;
    left: 110px;
    margin: -110px;
    font-size: 220px;
    line-height: 220px;
    font-weight: 700;
    text-align: center;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

div.O:before {
    content: "O";
}

div.X:before {
    content: "X";
}

div.square {
    width:220px;
    height:220px;
    margin:26px;
    float:left;
    outline:none;
    border:none;
    border-radius:15px;
    position: relative;
    background:#f22613;
    box-shadow:8px 8px 4px rgba(0, 0, 0, 0.5);
}

div#info {
    height:calc(100% - 820px);
}

#Directions {
    font-size: 50px;
    font-weight:500;
    text-align:center;
}

.relWrapper {
    position:relative;
    height:100%;
    
}

div#gameCover {
    position:absolute;
    width:820px;
    height:1000px;
    top:80px;
    left:80px;
    
    display:none;/*this division is only shown when the game is over*/
}

div#gameCover button{
    font-size:50px;
    text-align:center;
    bottom:0;
    left:210px;
    position:absolute;
    width:400px;
    height:100px;
    background: #0EB734;
    outline:none;
    border:none;
    border-radius:15px;
    box-shadow: 5px 5px #999;
    color:#edf0f1;
}

div#gameCover button:active{
    background:#00851E;
    box-shadow:none;
    transform: translate(5px, 5px);
}


#portraitForce {
    background:#0EB734;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:none;
    outline:none;
    text-align:center;
}

#portraitForce h1{
    position:absolute;
    color:white;
    top:225px;
    text-align:center;
    width:100%;
}

@media all and (orientation:landscape) {
    #portraitForce {
        display:block;
    }
}

